<a class="icon-lg icon-close dialog-close-button js-close-window" href="#" title="Close this dialog window."></a>
<div class="settings-ts-window u-clearfix">

  <div class="window-header u-clearfix">
    <span class="window-header-icon icon-lg icon-gear"></span>
    <div class="window-title u-inline" attr="name">
      <h2 class="window-title-text">Scrum settings</h2>
    </div>
  </div>

  <div class="window-main-col u-clearfix">
    <div class="window-module">
      <div class="u-gutter">
        Scrum configurations for trello.
      </div>
    </div>

    <div class="window-module">
      <div class="window-module-title window-module-title-no-divider">
        <span class="window-module-title-icon icon-lg flaticon-icon-ts-points"></span>
        <h3>Points</h3>
      </div>
      <div class="u-gutter">
        in development
        <!--
        <form class="edit-label">
          <label for="estimatePoints">Estimate points</label>
          <input id="estimatePoints" type="text" name="name" class="js-autofocus js-label-name" value="feature">
        </form>
        -->
      </div>
    </div>
  </div>

  <div class="window-sidebar" style="position: relative;">
    <div class="window-module u-clearfix">
      <h3>Actions</h3>
      <div class="u-clearfix">
        <a href="#" class="button-link primary" title="">
          <span class="icon-sm icon-check light"></span> Save
        </a>
      </div>
    </div>
  </div>
</div>